<u><h1><%= @shoe.name %></h1></u><br>

<strong>Date of Purchase: <%= @shoe.date %></strong><br><br>
<strong>Max Shoe Mileage: <%= @shoe.new_mileage %></strong><br><br>
<strong>Current Mileage: <%= @shoe.current_mileage %></strong><br><br>
<strong>Price of Shoes: $<%= @shoe.price %></strong><br><br>

<h3 style="color: red; text-align: center;">
  <% if  @shoe.new_mileage <= @shoe.current_mileage %>
    <%= "TIME TO BUY NEW SHOES!"%><br>
  <% end %>
</h3>

<!-- Information about runs - use same shoe iteration that was used in erb:index, for runs  -->
<!-- IN VIEWS) display run log in a table by iterating .each_with_index over runs. 
This will display: Date of Run     Miles Run       Location        Current Mileage (@newest_run = (@shoe.current_mileage.to_i + @shoe.latest_run.to_i))-->
<p><strong><a href="/shoes/<%= @shoe.id %>/edit">Edit or Delete</a> information</strong> about your shoes.</p>
<p><strong><a href="/shoes/<%= @shoe.id %>/runs">Update</a> the current mileage</strong> on your shoes.</p>
<p><strong><a href="/shoes">View All Shoes</a></strong> 
<br>
<p><strong><a href="/logout">logout</a></strong></p>