<u><h1><%= @shoe.name %></h1></u>
<br>
<strong>Purchase Date:</strong> <%= @shoe.date %>&nbsp;&nbsp;&nbsp;&nbsp;
<strong>Max Shoe Mileage:</strong> <%= @shoe.new_mileage %> miles
<br><br>
<% if @runs.present? %>
  <strong>Current Mileage:</strong>
  <% @total = 0 %>
  <% @runs.each do |miles|%>
    <% @total += miles.miles_run %>
  <% end %> 
  <%= @shoe.current_mileage + @total %> miles&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<% else %>
  <strong>Current Mileage:</strong> <%= @shoe.current_mileage %> miles&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<% end %>

<strong>Price of Shoes:</strong> $<%= @shoe.price %>
<br><br>
<br>
<u><h1>Running Log</h1></u>
<% if @runs.size > 0 %>
  <table style="border: 1px solid black;"><br>       
    <tr>
      <th>Date of Run</th>
      <th>Miles Run</th>
      <th>Location of Run</th>
    </tr>
    <% @runs.each do |run|%> 
        <tr>
          <td><%= run.date%></td>
          <td><%= run.miles_run %></td>
          <td><%= run.location %></td>
        </tr>
      <% end %>
    </table>

<% else %>
  <br>
  <p>You don't have any runs to track! Click <strong><a href="/shoes/<%= @shoe.id %>/runs">here</a> to create a new run.</p>
<% end %>

<% if @runs.present? %>
  <h3 style="color: red; text-align: center;">
    <% if  @shoe.new_mileage <= @total %>
      <%= "TIME TO BUY NEW SHOES!"%><br>
    <% end %>
  </h3>
<% end %>

<br>
<p><strong><a href="/shoes/<%= @shoe.id %>/runs">Add a Run</strong></a>
<p><strong><a href="/shoes/<%= @shoe.id %>/edit">Edit or Delete</a> information</strong> about your shoes.</p>
<p><strong><a href="/shoes">View All Shoes</a></strong> 
<br>
<p><strong><a href="/logout">logout</a></strong></p>