<u><h1><%= @shoe.name %></h1></u><br>

<strong>Date of Purchase:</strong> <%= @shoe.date %>
<br><br>
<strong>Max Shoe Mileage:</strong> <%= @shoe.new_mileage %> miles
<br><br>
<strong>Current Mileage:</strong> <%= @shoe.current_mileage %> miles
<br><br>
<strong>Price of Shoes:</strong> $<%= @shoe.price %>
<br><br>

<h3 style="color: red; text-align: center;">
  <% if  @shoe.new_mileage <= @shoe.current_mileage %>
    <%= "TIME TO BUY NEW SHOES!"%><br>
  <% end %>
</h3>
<br>
<p><strong><a href="/shoes/<%= @shoe.id %>/edit">Edit or Delete</a> information</strong> about your shoes.</p>
<p><strong><a href="/shoes/<%= @shoe.id %>/runs">Update</a> the current mileage</strong> on your shoes.</p>
<p><strong><a href="/shoes">View All Shoes</a></strong> 
<br>
<p><strong><a href="/logout">logout</a></strong></p>