<u><h1><%= @shoe.name %></h1></u><br>

<strong>Date of Purchase: <%= @shoe.date %></strong><br><br>
<strong>Max Shoe Mileage: <%= @shoe.new_mileage %></strong><br><br>
<strong>Current Mileage: <%= @shoe.current_mileage %></strong><br><br>
<strong>Price of Shoes: $<%= @shoe.price %></strong><br><br>

<h3 style="color: red; text-align: center;">
    <% if  @shoe.new_mileage <= @shoe.current_mileage %>
        <%= "TIME TO BUY NEW SHOES!"%><br>
    <% end %>
</h3>

<p><strong><a href="/shoes/<%= @shoe.id %>/edit">Edit or Delete</a> information</strong> about your shoes.</p>
<p><strong><a href="/shoes/<%= @shoe.id %>/runs">Update</a> the current mileage</strong> on your shoes.</p>
<p><strong><a href="/shoes">View All Shoes</a></strong> 
<br>
<p><strong><a href="/logout">logout</a></strong></p>



  